

<!DOCTYPE html>
<html lang="en">
<head>
	<% title="Bussiness Contacts List"; %>
</head>
<body class="container">

	<header>

	</header>

	<main>
        <div style="text-align: center;">
			<h1 class="high_title">Pulkit</h1>
			<p class="high_subtitle">Bussiness Contacts List</p>
        </div>
        <div  style="text-align: center;">
        <button >
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </button>
        </div>
        <div style="margin-top: 1rem; text-align: center; padding-left: 5rem;">
            
            <table id="customers" style="text-align: center;">
                <tr  style="text-align: center;">
                    <th id="table_corner_left">
                        Name
                    </th>
                   
                   
                    <th style=" text-align: center; padding-left: 3rem;">
                        Contact Email
                    </th>
                    <th style="padding-left: 5rem;">
                        Contact Number
                    </th>
                    <th style=" padding-left: 5rem;">
                        Edit
                    </th>
                    
                </tr  style="text-align: center;">
                <% data.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.name %>
                        </td>
                      
                       
                        <td style="padding-left: 5rem;">
                            <%= user.email %>
                        </td>
                        <td style="padding-left: 5rem;">
                            <%= user.number %>                     
                        </td>
                        
                        <td style=" padding-left: 5rem;">
                            
                            <button type='button' onclick="productEdit('<%= JSON.stringify(user) %>');" class='btn_action'>✎</button>
                        </td>
                      
                    </tr>
                <% }); %>
            </table>
        </div>
        <% include ./partials/edit %>
	</main>
    <script>
        window.scrollTo(0, 1100);
        function closeBackdrop(){
            const backdrop = document.getElementById('backdrop');
            const sidebar = document.getElementById('sidebar');
            backdrop.style.display = 'none';
            sidebar.style.display = 'none';
        }
        function openBackdrop(){
            const backdrop = document.getElementById('backdrop');
            const sidebar = document.getElementById('sidebar');
            backdrop.style.display = 'block';
            sidebar.style.display = 'block';
            backdrop.addEventListener("click", function() {
                closeBackdrop();
            });
        }
        function generateForm(action, method, user = {username: '', name: '', number: '', email: ''}){
            sidebar.innerHTML = '';
            let edit_form = document.createElement('FORM');
            edit_form.className = 'form_sidebar';
            edit_form.method = 'post';
            edit_form.action = action;
            for(attr in user){
                switch(attr){
                    case 'username':
                        edit_form.innerHTML += `<div class="form__group">
                                                        <label class="form__label" >Username:</label>
                                                        <input class="form__input" type="text" name="username" value="${user[attr]}" required>
                                                    </div>`;
                        break;
                    case 'name':
                    edit_form.innerHTML += `<div class="form__group">
                                                        <label class="form__label" >Name:</label>
                                                        <input class="form__input" type="text" name="name" value="${user[attr]}" required>
                                                    </div>`;
                        break;
                    case 'number':
                    edit_form.innerHTML += `<div class="form__group">
                                                        <label class="form__label" >Number:</label>
                                                        <input class="form__input" type="text" name="number" value="${user[attr]}" required>
                                                    </div>`;
                        break;
                    case 'email':
                    edit_form.innerHTML += `<div class="form__group">
                                                        <label class="form__label" >Email:</label>
                                                        <input class="form__input" type="text" name="email" value="${user[attr]}" required>
                                                    </div>`;
                        break;
                    default:
                        break;
                }
            }
            if(method === 'add'){
                edit_form.innerHTML += `<input style="transform: translateY(10px) translateX(-65px); padding: 10px 40px;" class="form__submit" type="submit" value="Create">
            <input style="transform: translate(90px, -40px); color: #575757;" onclick="closeBackdrop();" class="form__submit" type="button" value="Cancel">`;
            }else{
                edit_form.innerHTML += `<input style="transform: translate(160px, -87px) ;" class="form__submit" type="submit" value="Update">
            <input style="transform: translate(190px, -87px); color: #575757;" onclick="closeBackdrop();" class="form__submit" type="button" value="Cancel">`;
            
            }
            sidebar.innerHTML = `<p class="sidebar_title">${method === 'add' ? 'Create Contact' : 'Edit Contact'}</p>`;
            sidebar.appendChild(edit_form);
        }
       
        function productEdit(user_string){
            console.log('kkkkmm', user_string)
            let user = JSON.parse(user_string);
            openBackdrop();
            generateForm(`/bussiness_contacts/edit/${user._id}`, 'edit', user);
        }
    </script>
	<footer>
		
	</footer>
</body>

</html>

